body {
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff; 
    background-image: 
        radial-gradient(circle at 0% 100%, #a5fac3 0%, transparent 40%), 
        radial-gradient(circle at 100% 100%, #e2ed7a 0%, transparent 40%);
}

.navbar {
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #dedede;
}

.btn-nav {
    font-family: "Roboto Mono", monospace;
    border-style: none;
    border-radius: 8px;
    padding: 6px 10px;
    margin: 5px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #1ef07d, #088f45);
}

.btn-nav:hover {
    padding: 7px 11px;
    transition: all 0.1s ease-in-out;
}

.navbar-logo{
    position: relative;
    top: -3px;
    margin-right: 2px;
    width: 25px;
}

.navbar-brand {
    font-family: "Roboto Mono", monospace;
    color: #088f45;
    position: relative;
    font-size: 30px;
    font-weight: bold;
}

.navbar-brand::after{
    background: #088f45;
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 4px;
    transition: width 0.3s;
}

.navbar-brand:hover{
    color: #088f45;
}

.navbar-brand:hover::after{
    width: 100%;
}

.main-text {
    margin-right: 50px;
    margin-left: 35px;
}

.main-menu{
    height: 51.5vh;
    margin-left: 120px;
    margin-top: 120px;
}

.main-title {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    background: linear-gradient(to right, #1dda72, #088f45);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 15px;
}

.main-subtitle {
    font-family: "roboto mono", monospace;
    font-weight: 300;
    margin-bottom: 15px;
}

.customTitle-delay {
    animation-delay: 0.1s;
}
.customBtn-delay {
    animation-delay: 0.5s;
}

.main-btn {
    font-family: "Roboto Mono", monospace;
    border: 2.5px solid #1dda72;
    background-color: #ffffff;
    color: #1dda72;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.main-btn:hover {
    color: #ffffff;
    border-color: #1ef07d;
    background: linear-gradient(to right, #1ef07d, #088f45);
}

.main-arrow{
    font-size: 28px;
    color: #088f45;
    margin-left: 10px;   
}

@keyframes main-arrow {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.main-arrow {
    animation: main-arrow 1.5s infinite;
}

#carouselExampleIndicators {
    border-radius: 20px; 
    overflow: hidden;
    transform: translateZ(0); 
    isolation: isolate; 
    width: 70%;
}

.carousel-item {
    border-radius: 20px;
    overflow: hidden;
}

.carousel-item img {
    border-radius: 20px;
    height: 250px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 24px;
    }

    .main-menu {
        margin: 40px 20px; 
        text-align: center; 
        height: auto;
        margin-top: 70px;
    }

    .main-title {
        font-size: 28px; 
    }

    .main-subtitle {
        font-size: 16px;
    }

    .main-btn {
        margin-left: 90px;
    }

    #carouselExampleIndicators {
        width: 100%; 
        margin-top: 50px; 
    }

    .carousel-item img {
        height: 250px; 
    }
}