.container-fluid {
    background-color: #ffffff; 
    background-image: 
        radial-gradient(circle at 0% 100%, #a5fac3 0%, transparent 40%), 
        radial-gradient(circle at 60% 0%, #e2ed7a 0%, transparent 40%);
}

.form-title {
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
    color: #088f45;
}

.btn-submit {
    font-family: "Roboto Mono", monospace;
    border-style: none;
    border-radius: 8px;
    padding: 6px 10px;
    color: #ffffff;
    font-weight: bold;
    background: linear-gradient(to right, #1ef07d, #088f45);
}

.btn-submit:hover {
    background: linear-gradient(to right, #12ff7d, #009845);
    transition: all 0.1s ease-in-out;
}

.btn-reset {
    text-decoration: none;
    font-weight: bold;
    background-color: red;
    border-radius: 8px;
    padding: 6px 10px;
    border: none;
    margin-right: 30px;
}

bi {}